body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pwd-container {
  position: relative;
  width: 295px;
}

.pwd-container input {
  padding: 5px 30px 5px 10px;
  font-size: 20px;
}

.pwd-container svg.icon-show, .pwd-container svg.icon-hide {
  cursor: pointer;
position: absolute;
font-size: 1.1rem;
right: 15%;
top: 26%;
z-index: 999;
transition: all .5s;
}
.pwd-container svg.icon-show:hover, .pwd-container svg.icon-hide:hover {
color: lightgray;
}