body{
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue;
}  
h1{
  font-size: 2em;
  color: #eee;
  display: inline-block;
}

/* a{ color: white }
p{
  margin-top: 1em;
  text-align: center;
  color: #aaa;
} */
.rating{
  font-size: 2.2rem;
  color: #d6b92c;
}
.rating span{
  cursor: pointer;
}

.rate-container {
  display: flex;
}
.rate-container .rate-desc{
color: #fefefe;
margin-left: 2rem;
line-height: 30px;
}