table {
  border-collapse: collapse;
  width: auto; 
  border: 1px solid #ddd;
  font-size: 18px;
  margin: 2rem auto;
}


table th, table td {
  text-align: left;
  padding: 12px; 
}

table tr {
  border-bottom: 1px solid #ddd;
}

table tr.header, table tr:hover {
  background-color: #f1f1f1;
}